@charset "UTF-8";

#list {
	border: olive solid 5px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.table {
	border: aqua solid 3px;
	border-spacing: 0px;
	border-collapse: separate;
	width: 70%;
	margin: 0 auto;
}

.table_th {
	border: blue dotted 3px; 
}

.table_td {
	border: silver dotted 3px;
}